<nav>

    <a class="brand" routerLink="/home">
        <img src="/assets/Bitcoin.png" alt="Estacionamento"/>
        <h2>Pilacoin</h2>
       </a>

     
    <ul class="links">
        <li routerLinkActive="add"><a routerLink="/">Home</a></li>
        <!-- <li routerLinkActive="add"><a routerLink="/moments/new">Nova Vaga</a></li> -->
        <li routerLinkActive="add"><a routerLink="/about">Sobre</a></li>
        <!-- <li routerLinkActive="add"><a routerLink="/usuarios">Usuários</a></li> -->
        <!-- <li routerLinkActive="add"><a routerLink="/minhasReservas">Minhas Reservas</a></li> -->
        <button class="remove-btn">Sair</button>
    </ul>  

</nav>
