<nav>

    <a class="brand" routerLink="/home">
        <img src="/assets/Bitcoin.png" alt="Estacionamento"/>
        <h2>Pilacoin</h2>
       </a>

     
    <ul class="links">
        <li routerLinkActive="add"><a routerLink="/">Home</a></li>
        <li routerLinkActive="add"><a routerLink="/about">Sobre</a></li>
        <li routerLinkActive="add"><a routerLink="/carteira">Carteira</a></li>
        <li routerLinkActive="add"><a routerLink="/eventos">Eventos</a></li>
        <li routerLinkActive="add"><a routerLink="/transferencia">Transferencias</a></li>
        <!-- <button class="remove-btn">Sair</button> -->
    </ul>  

</nav>
