<!-- Text Area 1 -->
<div>
  <label for="textArea1">Pilas Minerados:</label>
  <textarea id="textArea1" rows="5" cols="100" [value]="logsPila"></textarea>
</div>

<!-- Text Area 2 -->
<div>
  <label for="textArea2">Pilas Validados:</label>
  <textarea id="textArea2" rows="5" cols="100" [value]="logsPilaValidado"></textarea>
</div>

<!-- Text Area 3 -->
<div>
  <label for="textArea3">Blocos Minerados:</label>
  <textarea id="textArea3" rows="5" cols="100" [value]="logsBloco"></textarea>
</div>

<!-- Text Area 4 -->
<div>
  <label for="textArea4">Blocos Validados:</label>
  <textarea id="textArea4" rows="5" cols="100" [value]="logsBlocoValidado"></textarea>
</div>
