<form>
        <h2><span>Login</span></h2>
        <div class="form-group">
          <label for="username">Seu nome:</label>
          <input
            type="text"
            required
            placeholder="Coloque o seu nome"
            formControlName="username"
          />
        </div>
        <!-- <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="username.errors?.['required']">O Nome é Obrigatório.</p>
      </div> -->

        <div class="form-group">
          <label for="senha">Senha:</label>
          <input
            type="password"
            required
            placeholder="Coloque sua Senha"
            formControlName="senha"
          />
        </div>
        <!-- <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="senha.errors?.['required']">A Senha é Obrigatória.</p>
      </div> -->
        <input type="submit" value= Confirmar>
  <br>
  <button routerLink="/usuarios" class="edit-btn">Cadastre-se</button>
      </form>
